@model Poltry_Project.Poultry_Hub_SR.User
@using Poltry_Project.Poultry_Hub_SR;
@{
    ViewBag.Title = "Get_Driver_Details";
    Layout = "~/Views/Shared/_Admin.cshtml";

    Poltry_HubClient cl = new Poltry_HubClient();

    var pendingOrders = cl.Get_Driver_Deliveies(Model.Id);
    var delevered = cl.Get_Driver_Deliveies_History(Model.Id);
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title m-b-0 text-center">Driver Details</h4>
                </div>

                <ul class="list-style-none">
                    <li class="d-flex no-block card-body border-top">
                        <div>
                            <span class=""><b>Name: </b>@Model.First_Name @Model.Last_Name</span><br />
                            <span class=""><b>Cellphone Number: </b>@Model.Contacts</span><br />
                            <span class=""><b>Email: </b>@Model.Email</span><br />
                        </div>
                    </li>

                    <li class="form-control card-body border-top">

                        <div class="mb-2">
                            <a href="#" class="m-b-0 font-medium text-info p-0">Pending Orders</a>
                        </div>

                        @foreach (var i in pendingOrders)
                        {

                            var c = cl.Get_User(i.Customer_Id);

                            <div class="alert alert-primary form-control" role="alert">
                                <span><b>Accept Date: </b> @i.Add_Date.ToString()</span><br />
                                <span><b> Expected Before: </b> @i.Due_Date.AddDays(5).ToString().Substring(0, 10)</span><br />
                                <span><b>Customer Details: </b> @c.First_Name @c.Last_Name ( @c.Contacts | @c.Email )</span><br />
                              
                            </div>
                        }
                    </li>

                    <li class="form-control card-body border-top">

                        <div class="mb-2">
                            <a href="#" class="m-b-0 font-medium text-success p-0">Delevered Orders</a>
                        </div>

                        @foreach (var i in delevered)
                        {
                            var driver = cl.Get_User(Model.Id);
                            var c = cl.Get_User(i.Customer_Id);

                            <div class="alert alert-success form-control" role="alert">
                                <span><b>Accept Date: </b> @i.Add_Date.ToString().Substring(0, 10)</span><br />
                                <span><b>Was Expected Before: </b> @i.Due_Date.AddDays(5).ToString().Substring(0, 10)</span><br />
                                <span><b>Delevered On: </b> @i.Delivery_Date.ToString().Substring(0, 10)</span><br />
                                <span><b>Customer Details: </b> @c.First_Name @c.Last_Name ( @c.Contacts | @c.Email )</span><br />
                                <span><b>Delevery Fee: R</b> R80</span><br />
                            </div>
                        }
                    </li>
                </ul>
            </div>

            <div class="mt-2">
                <a href="~/myAdmin/Get_Drivers" class="cd-timeline-navigation btn-dark form-control"><i class="mdi mdi-arrow-left"></i> Back</a>
            </div>

        </div>
    </div>
</div>


